{% extends 'chrisco/layout.html'%}
{% load static %}
{%block body%}
<div class="w-full max-1xl:pl-[25%] max-md:pl-[33%] max-900px:pl-[28%]  pl-[20%] max-sm:pl-0  transform duration-500 mt-16 overflow-x-hidden" id="index-body">
    <div class="w-full  flex-col  items-center flex ">
        <div class="w-full h-52 bg-gradient-to-br from-green-500 to-slate-400 flex flex-col p-10 text-gray-100">
            <div class="w-full flex flex-row">
                <svg  version="1.0" xmlns="http://www.w3.org/2000/svg"   class="400px:h-[50px] 400px:w-[50px] w-[30px] h-[30px]"  viewBox="0 0 100.000000 100.000000"  preserveAspectRatio="xMidYMid meet">  <g transform="translate(0.000000,100.000000) scale(0.100000,-0.100000)" fill="#f3f4f6" stroke="none"> <path d="M52 908 c-8 -8 -12 -45 -12 -100 0 -81 2 -88 20 -88 20 0 20 -7 20 -308 0 -226 3 -311 12 -320 17 -17 799 -17 816 0 9 9 12 94 12 320 0 301 0 308 20 308 18 0 20 7 20 88 0 55 -4 92 -12 100 -17 17 -879 17 -896 0z m348 -88 l0 -60 -160 0 -160 0 0 60 0 60 160 0 160 0 0 -60z m160 -90 l0 -150 -60 0 -60 0 0 150 0 150 60 0 60 0 0 -150z m360 90 l0 -60 -160 0 -160 0 0 60 0 60 160 0 160 0 0 -60z m-520 -190 l0 -90 100 0 100 0 0 90 0 90 140 0 140 0 0 -300 0 -300 -380 0 -380 0 0 300 0 300 140 0 140 0 0 -90z"/> </g> </svg> 
            <span class="mx-2 400px:text-3xl  text-lg   mt-1"> Products Detail</span>
            
            </div>
            
        </div>

        <div class="w-[95%] h-screen  bg-gray-100 z-10 -mt-20 rounded-md flex flex-col p-10 text-gray-600 mb-14">
           <div class="w-full  flex md:flex-row  flex-col">
            <div  class="w-1/2 max-md:w-full flex flex-col  400px:flex-row md:my-0 my-6 ">
                <span class="font-bold">Product name:</span><span class="mx-1">{{product.name}}</span>
            </div>
            <div  class="md:w-1/2 w-full  flex  flex-col  400px:flex-row">
                <span class="font-bold">price:</span><span class="mx-1">GH₵ {{product.price.price}}</span>
            </div>
           </div>
           <div class="w-full  flex md:flex-row my-6  flex-col">
            <div  class="md:w-1/2 w-full flex  flex-col  400px:flex-row">
                <span class="font-bold">Serial Number:</span><span class="mx-1">{{product.serial_number}}</span>
            </div>
            <div  class="md:w-1/2  w-full flex flex-col  400px:flex-row  mt-5  md:mt-0">
                <span class="font-bold">Date  Created:</span><span class="mx-1"> {{product.created}}</span>
            </div>
           </div>
           <div  class="w-full  flex flex-row">
             <span class="font-bold">Notes:</span><span class="mx-1"> {{product.notes}}</span>
           </div>
 
        </div>
      
        </div>

    </div>


{%endblock%}